th, td {
  padding: 10px 20px;
}

a {
    text-decoration: none;
    color: #0079BF;
}

nav > a {
    font-size: 14pt;
    color: lightgray;
    font-family: 'Rock Salt';
    padding: 5px;
}

nav > a:hover {
    color: white;
}

html, body {
    font-size: 0.9em; 
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

.home {
    background: url("../images/darth-hoth.png") no-repeat;
    background-size: cover;
}

.main-container {
    margin-top: 150px;
    font-family: 'Rock Salt';
}

.main-container > div {
    text-align: center;
}

.main-container h1 {
    font-size: 50pt;
    margin: 0;
}

.main-container h2 {
    font-size: 20pt;
    margin: 0;
    color: #B93F50;
}

body {
    padding: 100px;
}

.users {
    background-color: #2F186D;
}

.products {
    background-color: #FF4D00;
}


.panel > div {
    width: 1080px;
    margin: 0 auto;
}

.warning {
    color: orange;
}

.hexagon {
    float: left; 
    overflow: hidden; 
    visibility: hidden; 
    width: 400px; 
    height: 200px; 
    transform: rotate(120deg); 
    margin: 0 -138px -98px -85px; 
}

.outer {
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
}

.inner {
    overflow: hidden;
    position: relative;
    visibility: visible;
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
}

.textWrapper {
    position: absolute;
    top: 0;opacity: 0;
    left: 80px;
    width: 235px;
    height: 200px;
    z-index: 500;
    background: #000;
    transition: all 0.2s;
}

.text-inner {
    position: absolute;
    top: 30px;
    left: 52px;
    width: 130px;
    height: 135px;
    z-index: 500;
    text-align: center;
    font-size: 16pt;
}

.text-sub {
    font-size: 12pt;
}

.text-outer {
    position: absolute;
    top: 30px;
    left: 152px;
    width: 130px;
    height: 135px;
    z-index: 500;
    text-align: center;
    font-size: 16pt;
}

.inner:hover .textWrapper {
    opacity: 1;
}

.inner-links-odd {
    margin-top: 100px;
}

.inner-links-even {
    margin-top: 80px;
}

.even {
    margin-top: 102px;
}

.row {
    clear: left;
}

.user-name {
    background: #0079BF;
    background-size: contain; 
}
